{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  },
  "overrides": [
    // Configuration for TypeScript files
    {
      "files": [
        "**/*.ts"
      ],
      "plugins": [
        "@typescript-eslint",
        "unused-imports",
        "simple-import-sort"
      ],
      "extends": [
        "airbnb-typescript",
        "plugin:prettier/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
      },
      "rules": {
        "no-trailing-spaces": "error",
        "quotes": ["error", "single", { "avoidEscape": true }],
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "args": "none",
            "ignoreRestSiblings": true,
            "vars": "all"
          }
        ],
        "@typescript-eslint/no-var-requires": "warn",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-useless-constructor": "error",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": "off",
        "react/jsx-filename-extension": "off"
      }
    }
  ]
}